@mixin slide-menu($duration) {
    $name: #{"slide-menu-"}#{unique-id()};
    @keyframes #{$name} {
        @content;
    }
    animation-name: $name;
    animation-duration: $duration;
}
  
@mixin fade-in($duration, $delay, $fillMode) {
    $name: #{"fade-in-"}#{unique-id()};
    @keyframes #{$name} {
        @content;
    }
    animation-name: $name;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-fill-mode: $fillMode;
}
