$base__font: 'Montserrat', sans-serif;
$base__line-height: 1.6;
$base__border-radius: 5px;
$navbar-height: 70px;
$body__max-width: 1250px;

// Typography
$header1: 3.2rem;
$header2: 2.4rem;
$header3: 1.872rem;
$header4: 1.6rem;
$header5: 1.328rem;
$header6: 1.072rem;

// Breakpoints
$mobile: 480px;
$ipad: 768px;
$laptop: 1025px;
$tv: 1201px;