body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.createUserForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: dodgerblue;
}

.create_input {
  width: 200px;
}

.updateUserForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: lightgreen;
}

.update_input {
  width: 200px;
}
