body {
  margin: 0;
  padding: 0;
}

#root {
  font-size: 1rem;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App_title {
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 0px;;
}

/* General */
button {
  background: grey;
  font-size: 1rem;
  padding: 5px 10px;
}

button:hover {
  cursor: pointer;
  background: white;
}

.createUserForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: dodgerblue;
  padding: 20px 10px;
}

.user_input {
  width: 200px;
  margin: 10px 0px;
  height: 20px;
  font-size: 1rem;
}

.createExerciseForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: lightgreen;
  padding: 20px 10px;
}

.exercise_input {
  margin: 10px 0px;
  width: 200px;
  height: 20px;
  font-size: 1rem;
}
