body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}

#root {
  font-size: 1rem;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(80, 80, 80);
  width: 300px;
  padding: 0px 0px 15px 0px;
  margin: auto auto;
  margin-top: 20px;
  border-radius: 5px;
  font-family: 'Noto Sans SC', sans-serif;
}

.App_title {
  font-family: 'Londrina Sketch', cursive;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 0px;;
}

.faRunning {
  color: black;
  font-size: 1.6rem;
}

/* tag styling */
button {
  background: rgba(255, 255, 255,0.5);
  font-size: 1rem;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  font-family: 'Noto Sans SC', sans-serif;
}

button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0,0.5);
  color: white;
}

input {
  font-family: 'Noto Sans SC', sans-serif;
}

.createUserForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: rgba(30, 144, 255,0.5);
  padding: 20px 10px;
  width: 250px;
  border-radius: 5px;
}

.user_input {
  width: 200px;
  margin: 10px 0px;
  height: 20px;
  font-size: 1rem;
}

.createExerciseForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: rgba(144, 238, 144,0.5);
  padding: 20px 10px 0px 10px;
  width: 250px;
  margin-top: 20px;
  border-radius: 5px;
}

.exercise_input {
  margin: 10px 0px;
  width: 200px;
  height: 20px;
  font-size: 1rem;
}
